.textfield{
    background-color: #FFFFFF;
    color: #000000;
}

@font-face {
    font-family: 'chinese_takeawayregular';
    src: url('fonts/chinesetakeaway-webfont.woff2') format('woff2'),
         url('fonts/chinesetakeaway-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}