h1{
    font-family:'chinese_takeawayregular';
    font-weight:bold;
}

h2{
    font-family:'chinese_takeawayregular';
    font-weight:bold;
}

body{
    background-color: #FF5A51;
    color: #FFFF00;
}